:root {
    --bg: #fff;
    --mimic: rgba(0,0,0,0.7);
    --manic: #e55;
    --mars: #e80;
    --miffed: #5ad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
}

@font-face {
    font-family: saxmono;
    src: url(fonts/saxmono.ttf);
}

@font-face {
    font-family: blok;
    src: url(fonts/BLOKTYPE.TTF);
}

html {
    font-family: saxmono;
    background: var(--bg);
}

h1 {
    font-size: 7rem;
    font-family: blok;
    text-transform: lowercase;
}

a {
    color: var(--mars);
}

a:visited {
    color: var(--miffed);
}

abbr {
    font-style: italic;
    color: var(--manic);
}

mark.noir {
    background-color: #000;
    color: #fdfdfd;
}

mark.black {
    background-color: #000;
}

mark.white {
    background-color: #fff;
}

mark.goldt {
    color: gold;
}

.boldt {
    font-weight: bold;
}

div#jump-top {
    position: fixed;
    bottom: 15px;
    right: 25px;
    transition: transform ease 180ms;

    &:hover {
        transform: rotate(-5deg);
    }
}

.preface {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    text-align: center;
    margin: 15px 0 50px 0;
    padding: 0 75px;

    h1 {
        color: var(--mimic);
    }
}

div.title {
    display: flex;
    flex-direction: row;
}

input#title-color {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid var(--mimic);
    margin: 0;
}

section h1 {
    font-size: 3rem;
    font-family: saxmono;
    font-weight: bold;
    filter: blur(1px);

    &::first-letter {
        color: var(--manic);
    }
}

section {
    height: fit-content;
    width: 100%;
    min-width: 100%;
    max-width: 1000px;
    background: #fff;
    border-radius: 0 3em 3em 0;
    border: 2px solid var(--mimic);
    border-left: 2px solid var(--miffed);
    padding: 1rem 3rem;
}

.section-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.section-container::before,
.section-container::after {
    position: absolute;
    left: -39px;
    display: block;
    content: "✸";
    font-size: 80px;
    height: 80px;
    width: 80px;
    color: var(--miffed);
    text-align: center;
    line-height: 80px;
    z-index: 2;
}

.section-container::before {
    top: -40px;
}

.section-container::after {
    bottom: -37px;
}

section div.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/** **** SECTION IMAGES **** **/
div.items div.images {
    counter-reset: images;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}

div.images img {
    counter-increment: images;
}

div.images > div {
    position: relative;
}

.items div.images div.indc {
    position: absolute;
    top: 20px;
    right: -10px;

    &::after {
        display: block;
        content: counter(images);
        border: 1px solid var(--mimic);
        border-radius: 50%;
        text-align: center;
        height: 16px;
        width: 16px;
        text-align: center;
        line-height: 16px;
        font-size: .9rem;
        font-weight: normal;
        background-color: var(--bg);
    }
}

.stationery img.pen,
img.pen {
    display: inline-block;
    height: 400px;
    width: 60px;
    max-width: 40px;
    object-fit: cover;
}

/** **** END SECTION IMAGES **** **/

div.addm {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

div.details {
    counter-reset: details;
}

div.details p {
    counter-increment: details;
    display: inline;
}

div.details p::before {
    content: counter(details);
    margin-right: 5px;
    border: 1px solid var(--mimic);
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
    font-size: .9rem;
    font-weight: normal;
}

/** END (section information) **/
section div.end {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    word-break: normal;
    padding-top: 20px;

    h1 {
        align-self: flex-end;
        pointer-events: none;
        cursor: default;
        user-select: none;
    }
}


/** **** MECHS **** **/
/** VENDOR **/
.vendor {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    max-height: 400px;
    min-height: 240px;
    max-width: 30%;
    min-width: 200px; /* image size */
    flex-grow: 1;
    padding: 5px;
    border-radius: 1em;
    border: 2px solid var(--mimic);

    font-size: 0.8rem;
    overflow-y: scroll;
}

.vendor details div > * {
    display: inline;
}

.vendor-rand {
    min-height: 30px;
    min-width: 100px;
    background-color: var(--manic);
    border-radius: 16px;
    border: 2px solid var(--manic);
    padding: 2px;
    font-family: saxmono;

    transition: filter linear 400ms;
}

.vendor-rand:hover {
    filter: saturate(1.7);
}
/** **** END MECHS **** **/

/** images **/
img.smallbox {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

img.r90d {
    transform: rotate(90deg);
}